<!-- Hide the viewport in the main layout -->
<script>$('viewport').style.display = 'none'</script>

<div id ="form_at_user">
<h1>Reset My Password</h1>
Enter your password twice and off we go.
<% form_tag '/reset_password', :method => :put  do -%>
<p><label for="password">Password</label><br/>
<%= text_field_tag 'password' %></p>
<p><label for="password_confirmation">Password again</label><br/>
<%= text_field_tag 'password_confirmation' %></p>
<%= hidden_field_tag 'link', @link %>
<p><%= submit_tag 'Reset my password' %></p>
<% end -%>

</div>